@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* || UTILITY CLASSES */
.errmsg {
  color: firebrick;
}
.header-cell {
  font-weight: bold;
  background-color: #eee;
  font-size: 13px;
  font-family: 'Mulish';
}
input[type=file]::file-selector-button {
  margin-right: 20px;
  border: none;
  background: #084cdf;
  padding: 10px 20px;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  transition: background .2s ease-in-out;
}

input[type=file]::file-selector-button:hover {
  background: #0d45a5;
}
.close-button {
  background: none;
  border: none;
  cursor: pointer;
  color: red; /* You can adjust the color as needed */
  font-size: 16px;
  margin-left: 4px; /* Adjust the margin for spacing */
}
.tag-custom{
  padding: 2px 4px;
  margin: 0px 1px;
    background: #50b8486b;
    font-size: 12px;
    font-family: 'Mulish';
    border-radius: 4px;
}
.cursor-pointer-not-clickable {
  cursor: default; /* Set the default cursor */
  text-decoration: none; /* Remove underline */
  color: #0073e6; /* Set the desired text color */

  /* On hover, change the cursor to a pointer and underline the text */
  /* Prevent any interaction with the element */
  pointer-events: none;
}

.cursor-pointer-not-clickable:hover {
    cursor: pointer;
    text-decoration: underline;
  }
  .active{
  color:#065BAA!important;
 }
.commonClickable {
  cursor: pointer; /* Change cursor to a pointer on hover */
  text-decoration: none; /* Remove underline */
  color: #0073e6; /* Set the desired text color */

  /* Hover effect */
  &:hover {
    text-decoration: underline; /* Add underline on hover */
    color: #ff5722; /* Change color on hover */
  }
  
  /* Prevent any interaction with the element */
  pointer-events: none;
}
.global-td {
  font-size: 12px;
  font-family: 'Mulish';
  color: #333;
  font-weight: normal;
}
.global-detail {
  font-size: 12px!important;
  font-family: 'Mulish';
  font-weight: normal;
}
.custom-calendar .custom-day.selected {
  background-color: #e8f0fe; /* Change this to the desired background color */
   /* Change this to the desired text color */
  /* Add other styles as needed */
}
.floating-label-global{
   font-size: 12px!important;
    font-style: italic;
    font-family: 'Mulish';
    font-weight: 300;
}
.floating-label-global-filled{
   font-size: 14px!important;
    font-style: normal;
    font-family: 'Mulish';
    font-weight: 300;
}
.global-input{
  font-size: 12px!important;
  font-family: 'Mulish';
}
#myTextarea {
  /* Specify desired styles */
  font-family: 'Mulish';
  font-size: 14px;
  color: #333;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  padding-top: 15px;
  font-weight: normal;
}
#inputs {
  /* Specify desired styles */
  font-family: 'Mulish';
  font-size: 14px;
  color: #333;
  border: 1px solid #ccc;
  padding-top: 5px;
  font-weight: normal;
}
/* || GENERAL STYLES */

body {
  font: 1.5rem 'Mulish';
  min-height: 100vh;
  background-color: #f7f7f7;
  color: #fff;
}
.chakra-react-select__control.chakra-react-select__value-container{
  background: #e8f0fe;
}
.chakra-react-select-default__control{
  background: #e8f0fe!important;
  font-size: 11px!important;
  height: 48px!important;
  font-weight: 300;
}
input, button {
  font: inherit;
}

#root {
  min-height: 100vh;
  display: flex;
  background: white;
}

section {
  width: min(100%, 500px);
}

a, a:visited {
  color: whitesmoke;
}

/* a:hover, a:focus {
  color: rgba(245, 245, 245, 0.9);
} */

/* || LOGIN */

.login form {
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
  margin-top: 1rem;
}

.login input, .login button {
  padding: 0.5em;
  border-radius: 15px;
}

/* || PAGES */

.public, .welcome, .users {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.public main {
  flex-grow: 1;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
  padding: 1rem;
}

.users ul {
  list-style-type: none;
}
.login-page{
  background: url(img/Background.png) no-repeat center center fixed; 
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  width: 100vw;
  background-color: #f5f5f5;
}
.logo{
  background: url(img/logo.svg) no-repeat center center fixed; 
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}
@media only screen and (max-width: 500px) {
    #navRes {
      display: none;
    }
    #itemNav {
      display: none;
    }
  }
 
  #navFix {
    position: sticky;
   top: 0;
   z-index: 20;
   width: 100%;
  
  }
  @media(min-width:801px){
    #hamburger{
      display: none;
    }
  }
  @media (max-width:800px) {
    #resumeBtn{
      display: none;
    }
  }
  a, a:visited {
    color: #231F20;
    font-size: 14px;
    font-weight: bold; 
    font-Family: 'Mulish'
}
  a, a:focus {
    /* color: white; */
    font-size: 14px;
}
nav a{
  font-Family: 'Mulish'
}
.radioBtn{
    float: left;
    width: calc(100% - 25px);
    padding-left: 5px;
    color: #231F20;
    vertical-align: middle;
    font-Family: 'Mulish'
}
#float-label {
  display: flex;
  /* flex-direction: column; */
  min-width: 350px;
  position: relative;
   font-family: "Mulish";
  font-size: 11px;
  font-family: 'Mulish';
  font-weight: 600;
  color: #231F20;
}
.my-table {
  width: 100%;
  border-collapse: collapse;
}
.expanded {
  white-space: pre-wrap;
}
.my-table .expanded {
  cursor: pointer;
}

.my-table .expanded-cell {
  word-wrap: break-word;
  white-space: pre-wrap;
}
.custom-select-menu:focus {
  background-color: red;
  color: white;
}
.chakra-react-select__control{
  font-family: "Mulish";
  font-size: 11px;
  font-family: 'Mulish';
  font-weight: 600;
  color: #231F20;
  background: #ebebeb!important;
  border-radius: 5px;
}
.css-9jivag:focus-visible, .css-9jivag[data-focus-visible]{
  padding-left: 10px!important;
}
.chakra-react-select__single-value{
 padding-left: 5px!important;
}
.chakra-react-select__control:hover{
  background: #e2e8f0;
}
.chakra-react-select--has-value{
  /* padding-left: 5px!important; */
}
.chakra-react-select__value-container{
    padding-left: 24px;
    font-size: 11px;
    padding-top: 6px!important;
    font-family: 'Mulish';
    font-weight: 700;
    margin-left: -9px!important;
    height: 48px;
    border-radius: 5px;
}
.chakra-react-select{
  font-family: "Mulish";
  font-size: 11px;
  font-family: 'Mulish';
  font-weight: 600;
  color: #231F20;
}
#float-label input,textarea,select {
  width: 100%;
  outline: 0;
  border: 1px solid #ddd;
  border-radius: 4px;
  background: transparent;
  font-family: "Mulish";
  font-size: 11px;
  font-family: 'Mulish';
  font-weight: 600;
  color: #231F20;
}

#float-label label {
  font-size: 14px;
  font-family: "Mulish";
  padding: 0 4px;
  color: #343944;
  pointer-events: none;
  position: absolute;
  transform: translate(0, 4px) scale(1);
  transform-origin: top left;
  transition: all 0.2s ease-out;
}
#float-label:focus-within label {
  transform: translate(0, -16px) scale(0.75);
   color: #231F20;
}
input[type=number]::-webkit-outer-spin-button, 
input[type=number]::-webkit-inner-spin-button {
    /*-webkit-appearance: inner-spin-button !important;*/
    opacity: 1;
    margin-left: 5px;
}
.custom-select-option {
  background-color: red;
  color: white;
}
#react-select-5-placeholder{
  display: none!important;
}
#react-select-3-placeholder{
  display: none!important;
}
#react-select-7-placeholder{
  display: none!important;
}
#float-label .Active {
  transform: translate(-14px, -20px) scale(0.75);
  color: #231F20;
}
#float-labels {
  display: flex;
  /* flex-direction: column; */
  min-width: 250px;
  position: relative;
}

#float-labels input,textarea,select {
  width: 100%;
  outline: 0;
  border: 1px solid #ddd;
  border-radius: 4px;
  background: #fff;
  font-family: "Mulish";
  font-size: 16px;
}

#float-labels label {
  font-size: 14px;
  font-family: "Mulish";
  padding: 0 4px;
  color: #343944;
  pointer-events: none;
  position: absolute;
  transform: translate(-14px, -29px) scale(1);
  transform-origin: top left;
  transition: all 0.2s ease-out;
}
#float-labels:focus-within label {
  transform: translate(-14px, -29px) scale(0.75);
   color: #231F20;
}
#float-labels .Active {
  transform: translate(-14px, -29px) scale(0.75);
  color: #231F20;
}
#float-labelss {
  display: flex;
  /* flex-direction: column; */
  min-width: 250px;
  position: relative;
}
#float-labels2 {
  display: flex;
  /* flex-direction: column; */
  min-width: 250px;
  position: relative;
}

#float-labels2 input,textarea,select {
  width: 100%;
  outline: 0;
  border: 1px solid #ddd;
  border-radius: 4px;
  background: #fff;
  font-family: "Mulish";
  font-size: 16px;
}

#float-labels2 label {
  font-size: 14px;
  font-family: "Mulish";
  padding: 0 4px;
  color: #343944;
  pointer-events: none;
  position: absolute;
  transform: translate(-14px, -29px) scale(1);
  transform-origin: top left;
  transition: all 0.2s ease-out;
}
#float-labels2:focus-within label {
  transform: translate(-14px, -29px) scale(0.75);
   color: #231F20;
}
#float-labels2 .Active {
  transform: translate(-14px, -29px) scale(0.75);
  color: #231F20;
}
#float-labelss {
  display: flex;
  /* flex-direction: column; */
  min-width: 250px;
  position: relative;
}

#float-labelss input,textarea,select {
  width: 100%;
  outline: 0;
  border: 1px solid #ddd;
  border-radius: 4px;
  background: transparent;
  font-family: "Mulish";
  font-size: 16px;
}
.scroll-indicator {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 4px;
  background-color: #007BFF;
  z-index: 999;
}

.scroll-indicator-bar {
  height: 100%;
  background-color: #007BFF;
}
#float-labelss label {
  font-size: 14px;
  font-family: "Mulish";
  padding: 0 4px;
  color: #343944;
  pointer-events: none;
  position: absolute;
  transform: translate(-3px, 4px) scale(1);
  transform-origin: top left;
  transition: all 0.2s ease-out;
}
#float-labelss:focus-within label {
  transform: translate(-14px, -29px) scale(0.75);
   color: #231F20;
}
#float-labelss .Actives {
  transform: translate(-2px, -5px) scale(0.75);
    color: #065baa;
}
#float-labelss_new {
  display: flex;
  /* flex-direction: column; */
  min-width: 250px;
  position: relative;
}

#float-labelss_new input,textarea,select {
  width: 100%;
  outline: 0;
  border: 1px solid #ddd;
  border-radius: 4px;
  background: #fff;
  font-family: "Mulish";
  font-size: 16px;
}

#float-labelss_new label {
  font-size: 14px;
  font-family: "Mulish";
  padding: 0 4px;
  color: #343944;
  pointer-events: none;
  position: absolute;
  transform: translate(-14px, -29px) scale(1);
  transform-origin: top left;
  transition: all 0.2s ease-out;
}
#float-labelss_new:focus-within label {
  transform: translate(-14px, -29px) scale(0.75);
   color: #231F20;
}
#float-labelss_new .Actives {
  transform: translate(-2px, -14px) scale(0.75);
    color: #065baa;
}
p{
  margin-bottom: 0!important;
}
.floating-form {
  width: 320px;
}

.floating-label {
  position: relative;
  margin-bottom: 20px;
}

.floating-input,
.floating-select {
  font-size: 14px;
  padding: 4px 4px;
  display: block;
  width: 100%;
  height: 48px;
  /* background-color: transparent; */
  border: none;
  border-bottom: 1px solid #757575;
}

.floating-input:focus,
.floating-select:focus {
  outline: none;
  border-bottom: 2px solid #065baa;
}


.floating-input:focus~label,
.floating-input:not(:placeholder-shown)~label {
  top: 14px;
  font-size: 14px;
  color: #065baa;
  top: -9px;
  left: -9px;
  
}

.floating-select:focus~label,
.floating-select:not([value=""]):valid~label {
  top: 14px;
  font-size: 14px;
}
.Active{
  transform: translate(0, 1px) scale(0.75);
  /* font-size: 14px;
  top: -13px;
  left: -8px; */
  color: #065baa;
  font-family: 'Mulish';
  background: #e8f0fe;
}
.my-custom-input{
  margin-bottom: 20px;
}
.my-custom-inputs{
  padding:1em 0.8em;
}

/* active state */

.floating-input:focus~.bar:before,
.floating-input:focus~.bar:after,
.floating-select:focus~.bar:before,
.floating-select:focus~.bar:after {
  width: 50%;
}


.floating-textarea {
  min-height: 30px;
  max-height: 260px;
  overflow: hidden;
  overflow-x: hidden;
}


/* highlighter */

.highlight {
  position: absolute;
  height: 50%;
  width: 100%;
  top: 15%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}


/* active state */

.floating-input:focus~.highlight,
.floating-select:focus~.highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
  -moz-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease;
  background: red;
}


/* animation */

@-webkit-keyframes inputHighlighter {
  from {
    background: #5264AE;
  }
  to {
    width: 0;
    background: transparent;
  }
}

@-moz-keyframes inputHighlighter {
  from {
    background: #5264AE;
  }
  to {
    width: 0;
    background: transparent;
  }
}

@keyframes inputHighlighter {
  from {
    background: #5264AE;
  }
  to {
    width: 0;
    background: transparent;
  }
}
.searchInputActive{
  color:#065BAA;
  border: 2px solid #065BAA;
}
.main-heading {
  opacity: 1;
  position: absolute;
  width: 50%;
  font-size: 3rem;
  z-index: 100;
  top: 2em;
  left: 2em;
  color: #FFFFFF;
}
/* BG SLIDESHOW CSS */
.slideshow,
.slideshow::after {
  /* position: fixed; */
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 0px;
  list-style: none;
}
.slideshow::after {
  content: '';
  background: linear-gradient(-70deg, rgba(0,0,0,0), rgba(0,0,0,1));
}
.img-bg-slide {
  width: 100%;
  height: 100%;
  position: absolute;
  top: -48px;
  left: 0px;
  color: transparent; /*hides span's text*/
  background-size: cover; /* covers whole viewport */
  background-position: 100% 100%;
  background-repeat: none;
  opacity: 0;
  z-index: 0;
  animation: backgroundSlideshow 15s linear infinite 0s;
}
.slideshow li:nth-child(1) .img-bg-slide {
   background-image: url('../src/img/images/banner-sales01.jpg');
   
}
.slideshow li:nth-child(2) .img-bg-slide { 
    background-image: url('../src/img/images/banner01.jpg');
    animation-delay: 5s; 
}
@keyframes backgroundSlideshow {
  0% { opacity: 0;}
  12.5% { opacity: 1;}
  25% { opacity: 1;}
  37.5% { opacity: 0;}
  100% { opacity: 0;} 
}
.calendarClassName{
  position: relative;
  z-index: 9999;
  width: 100%;
}
.datepicker-container {
  position: relative; /* Relative positioning for the container */
  width: 200px; /* Adjust the width as needed */
}

.custom-datepicker {
  position: absolute;
  bottom: 100%; /* Adjust this value as needed to control the distance below the input field */
  left: 0;
  z-index: 1000; /* Ensure the calendar is above other elements */
}